* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-decoration: underline;
}
.box {
  background-color: plum;
  display: flex;
  justify-content: center;
}

input {
  width: 11%;
  padding: 4px 34px;
  margin: 44px 36px;
  display: inline-block;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

button {
  width: 10%;
  height: 30px;
  margin-bottom: 50px;
  border-radius: 6px;
  background: white;
  margin-left: 8px;
}
